@model FlexiTime.Models.Employee

<form method="post">

    <h2>Edit @Model.FormattedName()</h2>

      <div class="control-group">
         <label class="control-label" for="Forename">Forename</label>
         <div class="controls">
            <input class="text-box single-line" data-val="true" id="Forename" name="Forename" type="text" />
            <span class="field-validation-valid help-inline" data-valmsg-for="Forename"></span>
         </div>
      </div>


    <div class="form-actions">
        <input type="submit" value="Save" class="btn" />
    </div>
</form>



